 <search
    name="tagmemo"
    description="tagmemo search"
    method="GET"
    action="XOOPS_URL/modules/tagmemo/index.php"
    queryEncoding="_CHARSET"
    queryCharset="_CHARSET"
 >
 <input name="query" user>
 <input name="action" value="showall">
 <input name="mid" value="5">
 <input name="andor" value="AND">
 <interpret
     browserResultType="results"
     charset = "_CHARSET"
 >
 </search>