
.dialog_nw {
	width: 9px;
	height: 23px;
	background: transparent url(default/top_left.gif) no-repeat 0 0;		
}

.dialog_n {
	background: transparent url(default/top_mid.gif) repeat-x 0 0;	
	cursor:move;
	vertical-align: middle;
}

.dialog_ne {
	width: 9px;
	height: 23px;
	background: transparent url(default/top_right.gif) no-repeat 0 0;		
}

.dialog_e {
	width: 2px;
	height: 100%;
	background: transparent url(default/center_right.gif) repeat-y 0 0;	
}

.dialog_w {
	width: 2px;
	height: 100%;
	background: transparent url(default/center_left.gif) repeat-y 0 0;		
}

.dialog_sw {
	width: 9px;
	height: 19px;
	background: transparent url(default/bottom_left.gif) no-repeat 0 0;			
}

.dialog_s {
	background: transparent url(default/bottom_mid.gif) repeat-x 0 0;		
}

.dialog_se {
	width: 9px;
	height: 19px;
	background: transparent url(default/bottom_right.gif) no-repeat 0 0;			
}

.dialog_sizer {
	width: 9px;
	height: 19px;
	background: transparent url(default/sizer.gif) no-repeat 0 0;	
	cursor:se-resize;	
}

.dialog_close {
	width: 14px;
	height: 14px;
	background: transparent url(default/close.gif) no-repeat 0 0;			
	position:absolute;
	top:5px;
	right:7px;
	cursor:pointer;
	z-index:200;
}

.dialog_title {
	float:left;
	height:14px;
	font-size:12px;
	text-align:center;
	width:100%;
}

.dialog {
	display: block;
 	font-family: Tahoma, Arial, Sans Serif;
	position: absolute;
	margin: 0px;
	padding:0px;
}

.dialog * {
	margin: 0px;
	padding:0px;
}

.dialog_content {
	overflow: hidden;
	color: #DDD;
	font-family: Tahoma, Arial, Sans Serif;
	font-size: 10px;
	/*background-color: #F5F5DC;*/
	background: transparent url(default/content_bg.gif) repeat 0 0;
}

