<script src="./include/javascript/prototype/prototype.js" type="text/javascript"></script>
<script src="./include/javascript/scriptaculous/scriptaculous.js" type="text/javascript"></script>
<script src="./include/javascript/tagmemo_list.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" media="screen" href="./include/css/tagmemo.css" />

<script type="text/javascript">
<!--
var tagmemo_tagslist_url = "<{$xoops_url}>/modules/tagmemo/tagslist.php";
//-->
</script>
<div id="tagmemo_content">


	<div class="mainlink_box">
		<a href="./index.php" class="mainlink">
			<img src="./images/page_text.gif" alt="<{$smarty.const._MD_TAGMEMO_IMG_LIST}>" title="<{$smarty.const._MD_TAGMEMO_IMG_LIST}>"></a>
		<a href="./edit.php" class="mainlink">
			<img src="./images/page_edit.gif" alt="<{$smarty.const._MD_TAGMEMO_IMG_EDIT}>" title="<{$smarty.const._MD_TAGMEMO_IMG_EDIT}>"></a>
		<a href="./tagcloud.php"  class="mainlink">
			<img src="./images/tagscloud.gif" alt="<{$smarty.const._MD_TAGMEMO_IMG_CLOUD}>" title="<{$smarty.const._MD_TAGMEMO_IMG_CLOUD}>"></a>
	</div>



<div class="navi_box">
<{if $query}>
<p class="navi_box_first"><{$query_condition}></p>
<p class="navi_box_first">
<{foreach item=tag_detail from=$tag_condition.detail}>
<a href="index.php?tag_id=<{$tag_detail.id}>"><{$tag_detail.string}></a>
<a href="index.php?tag_id=<{$tag_detail.url}>&query=<{$query_condition_url}>"><img src="./images/sub.gif" alt="sub"></a>
<{/foreach}>
</p>
<{else}>
<{/if}>
</div>


<div class="tagmemo_list">

		<{foreach item=memo from=$memos}>
		<div id="tagmemo_list_box">

			<span class="tagmemo_list_title">
				<a href="detail.php?tagmemo_id=<{$memo.tagmemo_id}>">
				<{$memo.title}></a>
				<{if $memo.owner == 1 or $xoops_isadmin == 1}>
					<span class="edit">
					<a href="edit.php?tagmemo_id=<{$memo.tagmemo_id}>"><img src="./images/pencil.gif"></a>
					</span>
				<{/if}>
			</span>
		
			<div class="list_date">
				[<{$memo.tagmemo_id}>] <{$memo.timestamp|date_format:"%Y/%m/%d"}>
			</div>
			<div class="list_tag">
				<{foreach item=tag key="tag_id" from=$memo.tags}>
					[<a href="index.php?tag_id=<{$tag_id}>" onClick="return(tagmemoList.getTagslist('<{$tag_id}>',event))"><{$tag}></a>]
				<{/foreach}>
			</div>
		</div>

	<{/foreach}>	
	</div><hr />
	<div class="pagenav">
<{$pagenav}>
</div><br />
	<div id="bookmarklet">
<{if $ff_plugin}>
		<script src="<{$xoops_url}>/modules/tagmemo/include/javascript/addsearch.js" type="text/javascript"></script>
		<a href="javascript:addEngine('tagmemo','png','Search','<{$xoops_url}>')"><img src="./images/plugin.gif" alt="<{$smarty.const._MD_TAGMEMO_PLUGIN_FFSEARCH}>" title="<{$smarty.const._MD_TAGMEMO_PLUGIN_FFSEARCH}>"></a>
<{/if}>
		<a href="<{$bookmarklet}>"><img src="./images/b_marklet.gif"¡¡alt="<{$smarty.const._MD_TAGMEMO_BOOKMARKLET}>" title="<{$smarty.const._MD_TAGMEMO_BOOKMARKLET}>"></a>
	</div>
</div>

<div id="tagmemo_tagslist"></div>