<link rel="stylesheet" type="text/css" media="screen" href="./include/tagmemo.css" />
<div id="tagmemo_content">

<div class="navi_box">

	<div class="mainlink_box">
		<a href="./index.php" class="mainlink">
			<img src="./images/page_text.gif"></a>
		<a href="./edit.php" class="mainlink">
			<img src="./images/page_edit.gif"></a>
		<a href="./tagcloud.php"  class="mainlink">
			<img src="./images/tagscloud.gif"></a>
	</div>

</div>

<div id="tagmemo_container">
<div>Memo ID <{$memo.tagmemo_id}></div>
	<div class="ditail_date" >
		<{$memo.timestamp|date_format:"%Y/%m/%d/%H:%M"}>
	</div>
	
	<div class="memo_content">
		<{$memo.content}>
	</div>

	<div><{$memo_owner}></div>
	<div class="ditail_tag">
		<{foreach item=tag key="tag_id" from=$memo.tags}>
			<a href="index.php?tag_id=<{$tag_id}>">
				[<{$tag}>]</a>  
		<{/foreach}>
	</div>

	<div id="tagmemo_buttons">
		<{if $memo.owner == 1 or $xoops_isadmin == 1}>
		<form method="get" action="edit.php" name="editform">
			<input type="hidden" name="tagmemo_id" value="<{$memo.tagmemo_id}>">
			<input type="button" id="" name="edit" class="button" value="<{$smarty.const._MD_TAGMEMO_EDIT}>" onclick="submit()">
		<form>
		<{/if}>
	</div>
	
</div>


</div>
