<html>
<head>
<script src="./include/javascript/prototype/prototype.js" type="text/javascript"></script>
<script src="./include/javascript/log.js" type="text/javascript"></script>
<script src="./include/javascript/tagmemo.js" type="text/javascript"></script>
<script src="./include/javascript/tagmemo_frame.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" media="screen" href="./include/css/tagmemo_quickframe.css" />
<script type="text/javascript">
<!--
/* twodash*/
function delete_tag(arg){
    var wk_item ;
    wk_item = arg.parentNode;
    wk_item.removeChild(arg);
}
/* twodash*/

var tagmemo = null;
window.onload = function() {
	tagmemo = new Tagmemo('<{$xoops_url}>');
	new TagmemoWindow('tagmemo_area', new Array('tagmemo_header','tagmemo_tags','tagmemo_buttons'));
}

//-->
</script>
</head>
<body>
<div id="tagmemo_container">
<{$helper.map}>
	<form name="tagmemo_form" id="tagmemo_form" method='post' action="post.php">
		<input type="hidden" name="tagmemo_id" value="<{$memo.tagmemo_id}>" />
		<input type="hidden" name="encode_hint" value="คื" />
		<input type="hidden" name="quick_edit" value="1" />
		<div id="tagmemo_header">
			<{if ($helper.js)}>
			<{$helper.js}>
			<{/if}>
		</div>
		<div id='tagmemo_tags'>
			Tags:<input type="text" size="25" id="tagmemo_tag_input" name="tagmemo_tag_input" autocomplete='off' class="quickedit_text">
			<img src="./images/arrow_turn.gif">
			<div id="tagmemo_tag_list">
			<{foreach item=tag key="tag_id" from=$memo.tags}>
				<span id='s_tag_id_<{$tag_id}>' title="<{$smarty.const._MD_TAGMEMO_TAGCLICK_DELETE}>"><{$tag}></span>
			<{/foreach}>
			<input type="hidden" name="tagmemo_tag_hidden" id="tagmemo_tag_hidden" value="">
			</div>
			<div id='tagmemo_suggest_list' class="auto_complete"></div>
			<{$xoopsGTicket_html}>
		</div>
		<div id='tagmemo_area'>
			<textarea cols="43" name="tagmemo_memo" id="tagmemo_memo" class="quickedit_text"<{$helper.form}> ><{$memo.content}></textarea>
		</div>
		<div id="tagmemo_buttons">
			<{if $uname}>
			id:<input type="text" class="quickedit_login" name="uname" value="<{$uname}>" size="8" />
			pass:<input type="password" class="quickedit_login" name="pass" size="8" />&nbsp;
			<{/if}>
			<input type="submit" name="tagmemo_done" class="button" value="<{$smarty.const._MD_TAGMEMO_DONE}>" />
		</div>
	</form>
</div>
<{$helper.init}>
</body>
</html>