<link rel="stylesheet" type="text/css" media="screen" href="./include/css/tagmemo.css" />

<div id="tagmemo_content">

<div class="navi_box">
	<div class="mainlink_box">
		<a href="./index.php" class="mainlink">
			<img src="./images/page_text.gif" alt="<{$smarty.const._MD_TAGMEMO_IMG_LIST}>" title="<{$smarty.const._MD_TAGMEMO_IMG_LIST}>"></a>
		<a href="./edit.php" class="mainlink">
			<img src="./images/page_edit.gif" alt="<{$smarty.const._MD_TAGMEMO_IMG_EDIT}>" title="<{$smarty.const._MD_TAGMEMO_IMG_EDIT}>"></a>
		<a href="./tagcloud.php"  class="mainlink">
			<img src="./images/tagscloud.gif" alt="<{$smarty.const._MD_TAGMEMO_IMG_CLOUD}>" title="<{$smarty.const._MD_TAGMEMO_IMG_CLOUD}>"></a>
	</div>
</div>

<div id="tagmemo_container">
<div class="tagcloud">
	<{foreach item=tag from=$cloud}>
		<a href="index.php?tag_id=<{$tag.tag_id}>">
			<span class="<{$tag.popular}>">
			<span class="<{$tag.fresh}>">
			<{$tag.tag}>
			</span></span>
		</a>
	<{/foreach}>
</div>
</div>

</div>