
iframe#tagmemo_quickform_frame {
	width : 380px;
	height: 300px;
	border: hidden;
	margin: 0px;
	padding: 5px 0px 0px 0px;
	background-color: transparent;
	overflow: auto;
}

div#tagmemo_qp_container {
	position: fixed!important;
	position: absolute;
	margin: 0px;
	padding: 0px;
}

div#tagmemo_qp_container a:link,
div#tagmemo_qp_container a:visited,
div#tagmemo_qp_container a:active {
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}

div#tagmemo_qp_container table,
div#tagmemo_qp_container tr,
div#tagmemo_qp_container td {
	margin: 0px;
	padding: 0px;
	border: hidden;
	border-collapse: collapse;
	border-spacing: 0px;
}

div#tagmemo_qp_container div {
	margin: 0px;
	padding: 0px;	
}