#content {
	background-color: #ffffff;
	margin: 0;
	padding: 0;
	font-size: small;
	}


/*------TagmemoSuggest--------*/
div.auto_complete {
	width: auto;
	background: #fff;
	font-size: 11px;
}
div.auto_complete ul {
	border:1px solid #888;
	margin:0;
	padding:0;
	width:100%;
	overflow: hidden;
	list-style-type:none;
	cursor: pointer;
}
div.auto_complete ul li {
	margin:0;
	padding:3px;
	width:100%;
}
div.auto_complete ul li.selected { 
	background-color: #ffb; 
}
div.auto_complete ul strong.highlight { 
	color: #800; 
	margin:0;
	padding:0;
}
div.auto_complete ul li b {
	color: #0000FF;
	font-weight: normal;
}
div#tagmemo_tag_list span {
	cursor: pointer;
}

#tagmemo_gettag_btn {
	cursor: pointer;
	border: 1px solid silver;
	font-size: 12px;
	padding: 2px;
}

span.exist {
	background-color: transparent;
	cursor: pointer;
}

span.exist_highlight {
	background-color: #FFC1C1;
	cursor: pointer;
}

div#tagumemo_recommend_title {
	text-align:center;
	background-color: #EED2EE;
}

div#tagumemo_recommend_close {
	float: right;
	cursor: pointer;
	color: red;
}

div#tagumemo_recommend_base {
	position: absolute;
	top: -10px;
	height: 0px;
	font-weight: normal;
	font-size: 12px;
	margin: 0px 0px;
	border: 1px solid #EED2EE;
	overflow: auto;
	background-color: #ffffff;
	filter:alpha(opacity=85); /*IE*/
	-moz-opacity:0.85; /*FF*/
	opacity:0.85;
}

div#tagumemo_recommend_tag {
	padding: 3px 5px;
}

span.tagmemo_checking {
	color: red;
}

/*------tagmemo_content--------*/
#tagmemo_content {
	font-family: Verdana, Arial, sans-serif;
	background-color: #ffffff;
	font-size:small;
	margin-left: auto;
	margin-right: auto;
	}

#tagmemo_content a {
	text-decoration: none;
	font-weight: 100;
	}

#tagmemo_content a:hover {
	text-decoration: none;
	font-weight: 100;
	}
#tagmemo_content a.tagmemo_taglink,
#tagmemo_list_ajax a.tagmemo_taglink {
	color: black;
	border-bottom: 1px dotted silver;
}

/*------tagmemo_navi_box--------*/

#tagmemo_content .navi_box {
	margin:0px;
	padding: 0px;
	float:none;
	}

#tagmemo_content .navi_box_title {
	/*color: #bbbbbb;*/
	font-size:110%;
}
#tagmemo_content .navi_box_first {
	font-size:125%;
	font-weight: bold;
}

#tagmemo_content .navi_box_first a:link {
	font-size:125%;
	font-weight: bold;
}

#tagmemo_content .navi_box_first a:visited {
	font-size:125%;
	font-weight: bold;
}

#tagmemo_content .mainlink_box {
	margin-right:20px;
	text-align: right;
}

#tagmemo_content .mainlink {

    }

#tagmemo_content .mainlink a {
	font-weight: normal;
	border: 0px;
	border: none;
    }

/*------tagmemo_list--------*/

.tagmemo_list {
	width:90%;
	padding-top:10px;
	margin-left: auto;
	margin-right: auto;
 }

#tagmemo_list_box {
	width:auto;
	line-height:1.2em;
 	border-left: 10px solid #f8f8f8;
  	border-left: 10px solid #e9e9e9;
 	margin-bottom: 30px;
 }

#tagmemo_list_box a {
	font-weight: 100;
 	border: 0;

 }

#tagmemo_list_box a:hover {
	font-weight: 100;
}

#tagmemo_list_box a:visited {
	font-weight: 100;
}


#tagmemo_list_box .tagmemo_list_title {
	font-size:100%;
	display:block;
	margin: 0px;
	padding:3px 5px;
	clear : both;
}


#tagmemo_list_box .tagmemo_list_title a {

}

#tagmemo_list_box .tagmemo_list_title a:hover {
	text-decoration: underline;
	border:none;
}

#tagmemo_list_box .tagmemo_list_title a:visited {

}
/*
#tagmemo_list_box .tagmemo_list_title:first-letter {

	font-size:160%;

}

#tagmemo_list_box .tagmemo_list_title a:link:first-letter {

	font-size:160%;

}

#tagmemo_list_box .tagmemo_list_title a:hover:first-letter {
	font-size:160%;
}

#tagmemo_list_box .tagmemo_list_title a:visited:first-letter {
	font-size:160%;
}
*/

#tagmemo_list_box .list_date {
	font-size:10px;
	text-align: left;
	margin: 0px;
	padding:3px 10px 3px 15px;
	display:block;
	float: left;
}

#tagmemo_container .list_tag a {
	font-size:83%;
 }

#tagmemo_container .list_tag a:hover {
	font-size:83%;
}

#tagmemo_container .list_tag a:visited {
	font-size:83%;
}

#tagmemo_content .pagenav {
	margin: 15px;
	text-align: center;
	}

div.tagmemo_version {
	text-align: center;
	padding-right: 2em;
	color: gray;
}

div.tagmemo_version a {
	color: gray;
}

/*------tagmemo_container--------*/
#tagmemo_container {
	width:90%;
	padding-top:10px;
	padding-right:10px;
	margin-left: auto;
	margin-right: auto;
    }

/*------tagmemo_ditail--------*/

#tagmemo_container .memo_content {
//	width:90%;
	line-height: 1.5em;
	background-color: #ffffff;
	padding: 10px;
}

#tagmemo_content .ditail_date {
/*	color: #666666;*/
	font-size:85%;
	text-align: left;
	margin: 0px;
	padding:3px;
	display:block;
}

#tagmemo_container  .ditail_tag {
    background-color: #fafafa;
	padding: 2px 10px;
	margin: 10px 0px 10px 10px;
	display: block;
}

#tagmemo_container  .ditail_tag a {
	font-size: 90%;
	border: 0px;
}
#tagmemo_container  .ditail_tag a:visited {
	font-size: 90%;
	border: 0px;
}
#tagmemo_container  .ditail_tag a:hover {

}

#tagmemo_container .owner {
	margin-top: 15px;
	margin-bottom: 0px;
	text-align: right;
	vertical-align: middle;
	font-size:11px;
	padding:0px;
}

#tagmemo_container .snipped {

	border:1px solid #CCCCCC;
	margin:0px;
	padding: 1px 3px 1px 2px;
	vertical-align: middle;
}

#tagmemo_container .owner img {
	margin-right: 0px;
	vertical-align: middle;
}

div#tagmemo_tagslist {
	cursor:move;
	position: absolute;
	width: 400px;
	background-color:white;
	top:-1000px;
	left:-1000px;
	border: gray solid 1px;
	filter:alpha(opacity=90);
	-moz-opacity:0.9;
	font-size:85%;
}
.tagmemo_list.ajax {
	width:90%;
	margin-left: auto;
	margin-right: auto;
	overflow: scroll;
}
.tagmemo_list_box_ajax {
	margin: 3px;
	padding-left: 3px;
	border-left: 5px solid gray;
}
.tagmemo_list_body_ajax {
	/*display: none;*/
	margin-left: 1.5em;
	background-color: #fafafa;
}
/*
.tagmemo_list_box_ajax:first-letter,
.tagmemo_list_box_ajax a:link:first-letter,
.tagmemo_list_box_ajax a:hover:first-letter,
.tagmemo_list_box_ajax a:visited:first-letter {
	font-size:140%;
}
*/

span.tagmemo_list_title_ajax {

}

.tagmemo_pagenav_ajax {
	text-align: center;
}

.tagmemo_list_ajax_footer {
	text-align: center;
}

/*------tagmemo_edit--------*/
#tagmemo_container .edit_text {
	font-family: Verdana, Arial, sans-serif;
	font-size:small;
	width:95%;
	height: 300px;
	background-color: #fcfcfc;
	line-height: 1.5em;
	padding: 10px;
	border: 1px solid #cccccc;
	}
	
#tagmemo_container .quickedit_text {
	font-family: Verdana, Arial, sans-serif;
	font-size: 11px;
	width:95%;
	height: 180px;
	background-color: #fcfcfc;
	line-height: 1.5em;
	padding: 5px;
	border: 1px solid #cccccc;
	}

#tagmemo_container .form_text {
	padding: 1px 5px;
	background-color: #fcfcfc;
	border: 1px solid #CCCCCC;
}

#tagmemo_tag_list {
	padding: 5px;
}


.tags_name {
	color: #cccccc;
	font-size:100%;
	font-weight: bold;
}

#input {
	margin-top:10px;
}

.tagmemo_tag_out {
	overflow: auto;

}

#tagmemo_buttons {
	text-align: right;
	margin-right: -10px;
}


/*------tagmemo_block------*/

#tagmemo_tag_block {
	padding:2px 10px;
	margin: 0;

}

#tagmemo_tag_block img {
	vertical-align: middle;

}

#tagmemo_tag_block a:link {
		text-decoration:none;
		font-weight: 100;
		border: none;
}

#tagmemo_tag_block a:visited {
		text-decoration:none;
		font-weight: 100;
		border: none;
}

#tagmemo_tag_block .search_box {
	font-size: 90%;
	padding: 0;
	margin: 0;
	margin-left: auto;
	margin-right: auto;

}

/*------tagcloud------*/
#tagmemo_container .tagcloud {
		line-height: 210%;
}

#tagmemo_container .tagcloud a:link {
		color: #0000ff;
		text-decoration:none;
		border: none;
}

#tagmemo_container .tagcloud a:visited {
		text-decoration:none;
		border: none;
}

#tagmemo_container .tagcloud a:hover {
		text-decoration:none;
		border: none;
}

span.mostpopulartags {
		font-size:180%;
		font-weight:bold;
}


span.verypopulartags {
		font-size:150%;
		font-weight:bold;
}

span.populartags {
		font-size:130%;
}

span.normaltags {
			font-size: 100%;
}

span.freshtags {
			color: #0000ff;
}

span.oldtags {
			color: #b0b0b0;
}

/*------ tagmemo navi ------*/
span.tagmemo_navi_this {
	color: #444;
	background-color: #CCC;
	padding: 1px 4px 1px 4px;
	border: 1px solid #999;
	margin-right: 5px;
}

span.tagmemo_navi_other {
	background-color: #FFFFFF;
	padding: 1px 4px 1px 4px;
	border: 1px solid #999;
	margin-right: 5px;
}