<div class="navi_box">

<p class="navi_box_first"><{$query_condition}></p>

<p class="navi_box_first">
<{foreach item=tag_detail from=$tag_condition.detail}>
<a href="index.php?tag_id=<{$tag_detail.id}>" onClick="return(tagmemoList.getTagslist('<{$tag_detail.id}>',event,0))"><{$tag_detail.string}></a><a href="index.php?tag_id=<{$tag_detail.url}>"  onClick="return(tagmemoList.getTagslist('<{$tag_detail.url}>',event,0))"><img src="./images/sub.gif" alt="sub"></a>|
<{/foreach}>

<{foreach item=reltag from=$rel_tags}>
<a href="index.php?tag_id=<{$reltag.tag_id}>" onClick="return(tagmemoList.getTagslist('<{$reltag.tag_id}>',event,0))"><{$reltag.tag}></a><a href="index.php?tag_id=<{$tag_condition.url}><{$reltag.tag_id}>" onClick="return(tagmemoList.getTagslist('<{$tag_condition.url}><{$reltag.tag_id}>',event,0))"><img src="./images/add.gif" alt="add"></a>|
<{/foreach}>
</p>

</div>

<div id="tagmemo_list_ajax" class="tagmemo_list_ajax">
<{foreach item=memo from=$memos}>
	<div class="tagmemo_list_box_ajax">
		<div class="tagmemo_list_title_ajax">
			<a href="#" onClick="return(tagmemoList.list_body_toggle(<{$memo.tagmemo_id}>))"><{$memo.title}></a>
			<{if $memo.links }>
				<{foreach item=link from=$memo.links}>
					<{if $favicon_src }>
					<a href="<{$link}>" title="<{$link}>" target="_blank" class="extlink"><img src="<{$favicon_src}>?url=<{$link|escape:"url"}>" alt="<{$link}>" width="16" height="16" /></a>
					<{else}>
					<a href="<{$link}>" title="<{$link}>" target="_blank"><img src="./images/ext_link.gif" alt="<{$link}>" width="16" height="11" /></a>
					<{/if}>
				<{/foreach}>
			<{/if}>
		</div>
		<div id="tagmemo_list_body_ajax_<{$memo.tagmemo_id}>" class="tagmemo_list_body_ajax">
			<{$memo.content}>
			<div class="tagmemo_list_body_footer_ajax">
				<a href="detail.php?tagmemo_id=<{$memo.tagmemo_id}>">- Jump -</a>
			</div>
		</div>
	</div>
<{/foreach}>
</div>
<{if $pagenav}>
<hr />
<div class="tagmemo_pagenav_ajax">
<{$pagenav}>
</div>
<{/if}>
<div class="tagmemo_list_ajax_footer">- <a href="#" onClick="return(tagmemoList.hideTagslist())">Close</a> -</div>
